{% load url from future %}
{% load i18n %}

<form method="POST" action="">
  {% csrf_token %}

  <ul>
  {% for question in survey.question_set.all %}
    <li>
      <span>{{ question.question_text }}</span>
      <ul>
      {% for choice in question.choice_set.all %}
        <li>{{ choice }}</li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>

  {% for field in response_form %}
    {% if 'question_' in field.name %}
      {% if field.field.required %}
      <div class="field-wrapper question-required">
        {{ field.errors }}
        <span class="asterix"> * </span><label class="label-inline">{{ field.label }}</label>
      {% else %}
      <div class="field-wrapper">
        {{ field.errors }}
        <label class="label-inline">{{ field.label }}</label>
      {% endif %}
        <span class="form-help-text">{{ field.help_text}}</span>
        <div class="form-field-body">
            {{ field }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="field-wrapper">
    {{ response_form.comments.errors }}
    {{ response_form.comments.label_tag }}
    <span class="form-help-text">{{ response_form.comments.help_text}}</span>
    <div class="form-field-body">
      {{ response_form.comments }}
    </div>
  </div>

  <div class="submit-button"><input type="submit" value="Submit"></div>

</form>
